<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get CRUD</title>
</head>
<style>
  table, th, td{
    border: 1px solid red;
    border-collapse: collapse;
  }
  .btn-edit{
    outline: none;
    border: none;
    height: 25px;
    width: 60px;
    background-color: orange;
    border-radius: 3px;
    cursor: pointer;
  }
  .btn-delete{
    outline: none;
    border: none;
    height: 25px;
    background-color: red;
    width: 60px;
    border-radius: 3px;
    cursor: pointer;
  }
</style>
<body>
    <table style="width: 100%;">
        <tr>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
        
        <!-- vong lap ejs -->
       <% for(let i = 0; i < dataTable.length; i++){ %>
          <tr>
            <td><%= dataTable[i].email %></td>
            <td><%= dataTable[i].firstName %></td>
            <td><%= dataTable[i].lastName %></td>
            <td><%= dataTable[i].address %></td>
            <td>
              <!-- lay thong tin của user qua duong link rieng biet -->
              <a href="/edit-crud?id=<%= dataTable[i].id %>" class="btn-edit" type="button">Edit</a>
              <a href="/delete-crud?id=<%= dataTable[i].id %>" class="btn-delete" type="button">Delete</a>

            </td>
          </tr>
        <% } %>
       
      </table>
</body>
</html>